.container{
    height: 100%;
    background: rgba(255, 255, 255, .2);
    border-radius: 28px;
    flex-flow: column nowrap;
    overflow: hidden;
    padding: 0;
}
.container .nav{
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    height: fit-content;
    margin: 0;
    padding: 0;
}
.container .nav div{
    padding: 10px 30px;
    border: 1px solid red;
}
.nav div.slider{
    position: relative;
    transition: left .4s ease-in-out;
    padding: 0;
}