* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.white {
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.search-group {
    position: absolute;
    right: 40px;
    top: 30px;
    width: 340px;
    height: 50px;
}

.search-group {
    display: flex;
}

.serach {
    width: 260px;
    height: 50px;
}

.icon-search {
    width: 260px;
    height: 50px;
    position: absolute;
    left: 0;
    background: #EEF3FF;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.serach input {
    position: absolute;
    width: 210px;
    height: 50px;
    right: 80px;
    font-size: 18px;
    border: none;
    background: #EEF3FF;
    border-radius: 10px;
}

.notification {
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background: #EEF3FF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    position: absolute;
    width: 723px;
    height: 379px;
    background: #FAEEFF;
    border-radius: 25px;
}

.dashboard p {
    width: 214px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.top-group {
    position: absolute;
    left: 397px;
    top: 40px;
}

.left-nav {
    position: absolute;
    width: 330px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(to top, #eec7ffc5, #faeeffe1);
    border-radius: 0px 25px 25px 0px;
}

.site-logo {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 80px;
}


.menu-group {
    display: flex;
    flex-flow: column;
    background: transparent;
    width: 330px;
    height: max-content;
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-weight: bold;
}

.div1 {
    height: 50px;
    width: 330px;
    display: flex;
    align-items: center;
}

.menu-group a {
    padding-left: 80px;
    text-decoration: none;
    list-style-type: none;
    color: black;
}

#btn-student {
    text-decoration: none;
    list-style-type: none;
    color: rgb(255, 255, 255);

}

.active {
    background-color: rgba(255, 255, 255, 0.555);
}

.div1:hover {
    cursor: pointer;
    box-sizing: border-box;
    border-left: 4px solid rgb(64, 50, 187);
    background-color: rgba(255, 255, 255, 0.555);
}

.user-group {
    position: absolute;
    bottom: 0px;
    width: inherit;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
    margin-bottom: 20px;
    color: rgb(64, 50, 187);
    font-weight: bold;
    font-size: large;
}

/* Add Student Button */

.add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    width: 200px;
    height: 45px;
    margin-top: 40px;
    border-radius: 15px;
    background-color: rgb(64, 50, 187);
    transition: box-shadow .4s, background-color .4s, color .1s;
}

.add-btn:hover {
    color: rgb(64, 50, 187);
    box-shadow: 1px 1px 10px gray;
    background-color: white;
}

/* Logout Button */

.logout-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    cursor: pointer;
    color: white;
    height: 45px;
    width: 200px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: rgb(64, 50, 187);
    transition: box-shadow .4s, background-color .4s, color .1s;
}

.logout-btn:hover {
    color: rgb(64, 50, 187);
    box-shadow: 1px 1px 10px gray;
    background-color: white;
}

/* --------------Add student block/POPUP styles----------------------- */

.blur-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.158);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.white_content {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 650px;
    padding: 16px;
    border-radius: 20px;
    border: 2px solid rgb(64, 50, 187);
    background-color: white;
    z-index: 1002;
    overflow: auto;
    font-family: 'Trebuchet MS';
}

.close-logo {
    position: absolute;
    right: 15px;
    top: 15px;
}

.top-heading {
    width: inherit;
    margin: 5px 10px 0 10px;
    border-bottom: 1px solid gray;
}

.top-heading p {
    padding: 0 0 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.elements{
    height: 50px;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.elements > input{
    height: calc(100% - 10px);
    width: 300px;
    border: 1px solid dimgrey;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    transition: border .2s, box-shadow .2s;
}
.elements > input:focus{
    border: 1px solid rgb(64, 50, 187);
    box-shadow: 0 0 2px 0 rgba(64, 50, 187, .5);
}

/* Removing Spin Buttons from input typer numbers input box */

.elements input::-webkit-inner-spin-button, .elements input::-webkit-outer-spin-button{
    display: none;
}
.container{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.container > div{
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    height: 450px;
    width: 50%;
    padding: 10px;
    margin: 30px 0 0 0;
}

/* Submit and Cancel Buttons */
.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.btnContainer input{
    padding: 12.5px 30px;
    width: 155px;
    border-radius: 10px;
    outline: none;
    margin: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    background:rgba(64, 50, 187, .8);
    transition: background-color .4s, color .4s, box-shadow .4s;
}

.btnContainer input:hover{
    color: rgb(64, 50, 187);
    box-shadow: 1px 1px 10px gray;
    background-color: white;
}

.btnContainer input:last-child{
    background-color: gray;
    transition: background-color .4s, box-shadow .4s;
}

.btnContainer input:last-child:hover{
    color: rgb(64, 50, 187);
    box-shadow: 1px 1px 10px gray;
    background-color: white;
}