* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(252.92deg, #00DCEF 0.55%, #0284C4 38.36%, #0273BC 49.71%, #2285C5 61%, #D7E9F8 98.86%);
  backdrop-filter: blur(60px);
}

/* Main */

.content {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  z-index: 1;
}
.content>div{
  background: #0000;
  transform: translate(-50%, 0);
}
.content>div>div{
  /* position: relative; */
  backdrop-filter: blur(25px);
  width: 365px;
  height: 405px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
  transition: all .3s;
  overflow: hidden;
}
.content>div>div>div:nth-child(2), .content>div>div>div:nth-child(3){
  transition: all .3s;
}

.backParent {
  display: flex;
  justify-content: flex-end;
}

.back {
  position: absolute;
  z-index: -1;
  height: 100vh;
  float: right;
}

.back img {
  width: 100%;
  height: 100%;
}

/* Teacher */


.content>div.teacher {
  /* backdrop-filter: blur(15px); */
  transform: translate(50%, 0);
}

/* Note: backdrop-filter has minimal browser support */


/* Rectangle 1 */
.rectangle1 {
  /* background: rgba(171, 255, 227, 0.5); */
  box-shadow: inset 1px 4px 47px rgba(0, 0, 0, 0.06);
  border-radius: 76px;
}


/* Ellipse 15 */
.teacherImg{
  width: 307.1px;
  height: 307.1px;
  scale: 0.6;
  background: url('Images/teacher.svg');
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}


/* Teacher */
.teacher-text {
  width: 360px;
  height: 74px;
  scale: 0.6;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.41));
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 81px;
  text-align: center;

  color: #fff;

}



/* Student */

/* Note: backdrop-filter has minimal browser support */


/* Rectangle 1 */
.rectangle2 {
  /* background: rgba(220, 236, 255, 0.5); */
  box-shadow: inset 1px 4px 47px rgba(0, 0, 0, 0.06);
  border-radius: 76px;
}


/* Ellipse 15 */
.studentImg{
  width: 307.1px;
  height: 307.1px;
  scale: 0.6;
  background: url('Images/student.svg');
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
}

/* Student */
.student-text {
  width: 360px;
  height: 74px;
  scale: 0.6;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.41));
  font-family: 'Oxygen';
  font-weight: 700;
  font-size: 64px;
  line-height: 81px;
  text-align: center;
  font-style: normal;

  color: #fff;
}

.light{
  height: 0;
  width: 0;
  display: none;
  border-radius: 50%;
  box-shadow: 0 0 50px 50px rgba(255, 255, 255, 0.3);
  position: relative;
  z-index: 2;
  align-self: flex-start;
}