*{
  margin: 0;
  padding: 0;
}

body{
  background: url("Images/background.svg");
  font-family: 'Trebuchet MS', sans-serif;
}

/* Loading */

.loading{
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(205, 205, 205, .4);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  z-index: 100;
  opacity: 1;
  transition: opacity .4s;
}
.logo{
  background: url('Images/homeIcon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 75px;
  width: 75px;
}
.text{
  font-family: courier;
  font-weight: 700;
}

/* Main */

.main{
  min-height: calc(100vh - 80px);
  width: calc(100vw - 80px);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 25px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.862), #0000);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3)
}

/* navBar */

.navBar{
  height: 60px;
  display: flex;
  padding-top: 10px;
  padding-right: 75px;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}
.box{
  transform: translate(0, 20px);
  transition: transform .4s;
  color: black;
  margin-right: 25px;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  text-decoration: none;
  cursor: pointer;
}
.box:hover{
  transform: none;
}
.box .text{
  transform: translate(0, -5px);
}
.i1{
  background-image: url('Images/homeIcon.svg');
}
.i2.items{
  background-image: url('Images/collegeLogo.png');
  background-size: 25px;
}
.i3.items{
  background-image: url('Images/AboutUs.svg');
  background-size: 25px;
}
.items{
  font-weight: 500;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 40px;
  width: 40px;
}
.loginBtn{
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hotpink;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

/* Landing */

.landing{
  display: flex;
  justify-content: space-between;
}
.sidePic{
  margin-right: 70px;
}
.sideText{
  margin-left: 50px;
}
.name{
  font-family: 'omega sans';
  font-size: 60px;
}
.welcome{
  display: inline-block;
  font-size: 25px;
  color: gray;
}
.welcome::after{
  content: '';
  height: 1.5px;
  background: blue;
  width: 90px;
  display: block;
  margin-left: calc(100% - 60px);
}